.rating {
  margin: 20px 0;
}

.rating .heading {
  margin-bottom: 0;
}

.rating-container {
  margin-bottom: 20px;
}

.rating-star {
  font-size: 1.5em;
}

a.rating-star-hover,
a.rating-star-hover:hover {
  color: #a38729;
}

.rating-description {
  color: #7c7c82;
  font-size: 14px;
}

.dataset-raiting {
  float: right;
  display: inline-block;
}

.dataset-raiting span {
  font-size: 14px;
}
