{#
Renders a block of rating info which displays the current average rating
and enables user rating input using the same element, hence named flat

Also uses only one icon type and the number of stars is highlighted with star-filled and star-empty classes

package  - The package for which the rating is displayed

{% snippet "rating/snippets/rating_single_flat.html", package=pkg %}
#}

{% resource "rating_css/rating.css" %}
{% if enable_input %}
{% resource "rating_js/rating.js" %}
{% endif %}

{% set action = 'submit_package_rating' %}

{% if package.type == 'showcase' %}
{% set action = 'submit_showcase_rating' %}
{% endif %}

{% set stars = package.rating %}
<div class="rating-wrapper">
  <div class="rating-stars-wrapper rating-stars-wrapper-flat {{ 'input-enabled' if enable_input }}">
    <span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
      <span class="star-rating-stars">
        {%- for index in range(stars|int) -%}
          {% if enable_input %}
            <a class="fa fa-star rating-star rating-star-filled" id="star-{{index}}" href="{{ h.url_for(controller='ckanext.rating.controller:RatingController', action=action, package=package.name, rating=index+1) }}"></a>
          {% else %}
            <span class="fa fa-star rating-star rating-star-filled"></span>
          {% endif %}
        {%- endfor -%}
        {%- for index in range(stars|int, 5) -%}
          {% if enable_input %}
            <a class="fa fa-star rating-star rating-star-empty" href="{{ h.url_for(controller='ckanext.rating.controller:RatingController', action=action, package=package.name, rating=index+1) }}"></a>
          {% else %}
            <span class="fa fa-star rating-star rating-star-empty"></span>
          {% endif %}
        {%- endfor -%}
      </span>
    </span>
  </div>
  <span class="rating-count">
    {% set ratings_count = package.ratings_count%}
    ({{ ratings_count }})
  </span>

</div>
