{#
Renders a set of stars which are not clickable

stars  - The number of stars to be displayed.

    {% snippet "rating/snippets/stars_inactive.html", package=pkg %}

#}

{% set ratings_count = h.package_rating(None, {'package_id' : package.id} ).ratings_count%}
{% set stars = h.package_rating(None, {'package_id' : package.id} ).rating %}
<span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
  <span class="star-rating-stars">
    {%- for index in range(stars|int) -%}
      <span class="icon icon-star rating-star"></span>
    {%- endfor -%}
    {%- for index in range(stars|int, 5) -%}
      <span class="icon icon-star-empty rating-star"></span>
    {%- endfor -%}
  </span>
</span>
<br>
<span class="rating-description">
  {{ ratings_count }} {{ _('rating') if ratings_count == 1 else _('ratings') }}
</span>

