{% ckan_extends %}

{% block package_info_inner %}
  {% block heading %}
    <h1 class="heading">{{ pkg.title or pkg.name }}</h1>
  {% endblock %}
  {% if pkg.author %}
      <span class="smallest">{{_('Submitted by')}}</span>
      <p>{{ pkg.author }}</p>
  {% endif %}
  {% block rating %}
    <p>
      {% snippet "rating/stars_inactive.html", package=pkg %}
    </p>
  {% endblock %}
  {% block user_rating %}
    {{ _('Your rating') }}
    <p>
      {%- snippet "rating/stars.html", package=pkg -%}
      {%- snippet "rating/rating_description.html", rating=h.get_user_rating(pkg.id) -%}
    </p>
  {% endblock %}
  {% if pkg.url %}
    <div class="info">
      <a class="btn btn-primary" href="{{ pkg.url }}" target="_blank">
        <i class="icon-external-link"></i> {{ _('Launch website') }}
      </a>
    </div>
  {% endif %}
{% endblock %}